<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

	<!-- bean definition & AOP specific configuration -->

	<bean id="student" class="learning10.Student">
		<property name="name" value="Zara" />
		<property name="age" value="11" />
	</bean>

	<!-- Definition for logging aspect -->
	<bean id="logging" class="learning10.Logging" />

	<aop:config>
		<aop:pointcut expression="execution(* learning10.Student.*(..))" id="selectAll"/>
		<!-- 切面设置 -->
		<aop:aspect id="log" ref="logging">
			<aop:around method="aroundAdvice"
				pointcut-ref="selectAll" />
		</aop:aspect>
	</aop:config>


</beans>