.language-select{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 50%;
}

.language-select li{
    list-style: none;
    padding: 0 .5em;
    cursor: pointer;
    transition: .3s;
}

.language-select li:hover{
    color: deepskyblue;
    transform: scale(1.3, 1.3);
}