.battle-wrapper{
    padding: 10% 10% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.battle-wrapper .player{
    position: relative;
    width: 100%;
    height: 50vh;
}

.battle-wrapper .player > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.battle-wrapper .player input{
    height: 2em;
    padding: 5px 10px;
    border-radius: .5em;
    border: 1px solid black;
    box-shadow: none;
    outline: none;
}

.battle-wrapper .player button{
    height: 2em;
    width: 25%;
    background-color: orange;
    border-radius: .5em;
    box-shadow: none;
    border: none;
}