body{
	background-color: #34495e;
}

.container{
	width: 300px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-wrap: wrap;
}

.item{
	margin: 5px;
	width: 90px;
	height: 90px;
	background-color: lightblue;
}

@keyframes a{
	
}